.Header {
  width: 100%;
  height: 4em;
  border-bottom: 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--accent-purple);
  font-weight: bold;
}

.Logo {
  padding-left: 2em;
}

.Admin {
  padding-right: 2em;
}

.Admin button {
  margin-left: 1em;
  outline: 1px;
}

@media screen and (max-width: 768px) {
  .Admin button:last-child {
    display: none;
  }
}
